/*在此创建CSS样式*/
/*在此创建CSS样式*/
.main {
    width: 1000px;
    margin: 0 auto;
}

.topping li,
a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.topping a:hover {

    background-color: #cc3333;
}



.topping img {
    float: left;
    margin: 0 2px;
}

.onFocus {
    margin: -10px auto;
}

.news {
    margin: 20px 0;

}

.leftNews {
    float: left;
    height: 46px;
    background-color: #bb3333;
    width: 150px;
    text-align: center;
    color: white;
}

.rightNews {
    float: left;
    height: 46px;
    width: 850px;
    color: white;
    background-color: #444444;
    text-indent: 2em;
}

.leftNews p,
.rightNews p {
    line-height: 15px;
}

.display {
    margin: 10px o;
}

.dsp {
    float: left;
    width: 320px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 13px;
}

.dsp2 {
    float: left;
    margin-top: -5px;
    margin-bottom: 0;
    margin-right: 3px;
    width: 328px;
    height: 25px;
    border: 1px solid #cccccc;
    text-align: center;
    background-color: white;
}

.heading {
    clear: both;
    width: 330px;
    background-color: #bb3333;
    color: white;
    font-size: 15px;
    text-indent: 1em;
    height: 40px;
    line-height: 40px;

}

.left,
.middle,
.right {
    float: left;
    margin-top: 30px;
    margin-right: 3px;
}

.timme {
    margin: 8px 8px;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    background-color: #bb3333;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    float: left;
}

.content p,
h5 {
    margin: 9px 3px;
    font-size: 13px;
    line-height: 18px;
}

.ctt {
    margin-top: -5px;
    width: 326px;
    border: 2px #cccccc solid;
    border-top: none;
}

.ctt2 {

    width: 326px;

    min-height: 300px;
    border: 2px #cccccc solid;
}

.ctt2 img {
    width: 256px;
    margin: 15px 30px;
}

.ctt2 p {
    line-height: 10px;
}

.copyright p {
    clear: both;
    display: block;
    height: 70px;
    background-color: #dddddd;
    text-align: center;
    line-height: 100px;
}